.subTitle {
    height: 10vh;
    display: flex;
    padding: 0 25px;
    align-items: center;
    justify-content: center;
    background-color: #687082;
    position: sticky;
    top: 6vh;
}

.subTitle > * {
    height: 3vh;
}

.subTitle input {
    width: 45%;
}

@media screen and (max-width: 850px) {
    .subTitle input {
        width: 80vw;
    }
}
